<footer class="bg-dark text-white py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Club de Lectura</h5>
        <p>Un espacio para compartir tu pasión por la lectura.</p>
      </div>
      <div class="col-md-4">
        <h5>Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/libros" class="text-white">Libros</a></li>
          <li><a routerLink="/foros" class="text-white">Foros</a></li>
          <li><a routerLink="/eventos" class="text-white">Eventos</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li>Email: info&#64;clubdelectura.com</li>
          <li>Teléfono: (123) 456-7890</li>
          <li>Dirección: Calle Principal 123</li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-0">&copy; {{currentYear}} Club de Lectura. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
