.text-muted span {
  display: block;
  margin-bottom: 0.5rem;
}

.text-muted span:last-child {
  margin-bottom: 0;
}

.card-title h1 {
  margin-bottom: 1rem;
}

.list-group-item {
  padding: 1rem;
}

.list-group-item .fw-bold {
  font-size: 1.1rem;
}

.list-group-item .text-muted {
  font-size: 0.9rem;
}
